$bp-mobile: 500px;
$bp-tablet: 768px;
$bp-tablet-horizontal: 1024px;
$bp-desktop: 1200px;
$bp-desktop-xl: 1440px;

$big_shoulders-font: "Big Shoulders", sans-serif;
$outfit-font: "Outfit", sans-serif;
