@use "./abstracts/abstracts" as *;
@use "./vendors/vendors";
@use "./base/base";
@use "./components/components";
@use "./layout/layout";
@use "./pages/pages";
@use "./themes/themes";
@use "settings";
@use "./themes/colors" as *;

.page {
  background-image: url(../assets/hero_image.png);
  background-repeat: no-repeat;
  background-position: top;
  background-size: 100%;
}
@include breakpoint(tablet) {
  .page {
    background-image: url(../assets/hero_image_tablet.png);
    background-size: 60%;
    background-position: top left;
  }
}
@include breakpoint(desktop) {
  .page {
    background-image: url(../assets/hero_image_tablet.png);
    background-size: 62.5vh;
    background-position: top;
  }

  .hero::before {
    content: "";
    position: absolute;
    display: block;
    width: 50%;
    height: 100%;
    background-color: $black;
    z-index: -1;
    top: 0;
    left: 0;
  }
}
.page_location {
  background-image: url(../assets/Maps.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: top;
}

@include breakpoint(desktop) {
  .page_location {
    background-image: url(../assets/Maps_desktop.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top;
  }
}
