@use "./abstracts/abstracts" as *;
@use "./vendors/vendors";
@use "./base/base";
@use "./components/components";
@use "./layout/layout";
@use "./pages/pages";
@use "./themes/themes";
@use "settings";
@use "./themes/colors" as *;

.page {
  background-image: url(../assets/hero_image.png);
  background-repeat: no-repeat;
  background-position: top;
  background-size: 100%;
}
.page_location {
  background-image: url(../assets/Maps.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: top;
}
