@use "../themes/colors" as *;

.footer_1 {
  margin-top: 20%;
  background-color: $black;
  padding: 48px 24px 48px 24px;
  & * {
    color: $white;
  }
  h4 {
    max-width: 60%;
  }
}
.footer_2 {
  background-color: $orange;
  padding: 48px 24px 48px 24px;
  h4 {
    max-width: 60%;
  }
}
