@use "../abstracts/mixins" as *;
@use "../base/typography" as *;
@use "../themes/colors" as *;
.hero {
  padding-top: 80%;
}
@include breakpoint(tablet) {
  .hero {
    padding: 0px;
    display: flex;
    justify-content: end;
    padding-top: 25%;
    .hero_presentation {
      max-width: 50%;
    }
  }
}
@include breakpoint(desktop) {
  .hero {
    padding: 0px;
    display: flex;
    justify-content: end;
    padding-top: 25%;
    padding-left: 30%;
    .hero_presentation {
      max-width: 50%;
      h1 {
        position: absolute;
        color: $white;
        left: 5%;
        top: 20%;
        width: 40%;
        font-size: 96px;
        line-height: 90%;
      }
    }
  }
}
